spring:
  profiles: production
  datasource:
    url: jdbc:postgresql://dpg-d42bofruibrs73cruae0-a:5432/hexlet_spring
    username: hexlet_spring
    password: IrdV6aJRVsvWYmf221XJEo7QO3MIRwyB
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
