spring:
  profiles:
    active: development
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem
